body{
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  background-color: #efefef;
}

textarea{
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  background: white;
  color: black;
  height: 100%;
  width: 100%;
  resize: none;
  font-size: 15px;
  border: none;
  outline: none;
}

.control-box{
  top: 40px;
  left: 25%;
  right: 0px;
  height: 32px;
  width: 50%;
  padding: none;
  margin: none;
  background-color: white;
  position: fixed;
}

.box{
  width: 50%;
}

.submitText{
  width: 70%;
  margin: none;
  float:left;
  height: 40px;
  background-color: #fff;
  border-radius: 5px;
  border-width: 2px;
  border-color: black;
  border-style: solid;
  font-size: 20px;
}

.submit{
  width: 20%;
  margin: none;
  height: 40px;
  background-color: transparent;
  border-radius: 5px;
  border-width: 1px;
  border-color: #e74c3c;
  border-style: solid;
  transition: ease .5s;
  color: #e74c3c;
}
.submit:hover{
  width: 20%;
  margin: none;
  height: 40px;
  background-color: #e74c3c;
  color: white;
}


.textbox{
  top: 30%;
  position: fixed;
  width: 50%;
  text-align: center;
  float: center ;
  left: 0;
  right: 0;
  margin: auto;
}

.message{
  top: 50px;
  position: fixed;
  text-align: center;
  font-size: 40px;
  width: 100%;
}

.items{
  position: fixed;
  top: 73px;
  right: 60px;
  bottom: 50px;
  left: 50px;
  display: flex;
  justify-content: space-between;
}

.note{
  background-color: white;
  width: 90%;
  float: center;
  height: 50px;
  margin: 20px;

}
.editor{
  background-color: white;
  border: none;
  width: 100%;
  height: 100%;
}

.titlebar{
  position: fixed;
  height: 30px;
  background-color: blue;
  padding: none;
  top: 0;
  left: 0;
  right: 0;
  background-color: #3498db;
  line-height: 30px;
  vertical-align: center;
  padding-left: 5px;
}
